* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: "Arial";
}

h2 {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

a {
  text-decoration: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header,
section {
  padding: 50px;
}

.header {
  height: 323px;
  background: url(img/header-bg.jpg) no-repeat;
}

.shape_9 {
  width: 469px;
  height: 214px;
  background-color: #fff;
  float: right;
}

.header_text {
  width: 600px;
}

.header h1 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  margin-top: -14px;
  margin-left: -4px;
}

.header ul {
  list-style: inside url(img/check_icon.png);
  margin-top: 26px;
}

.header ul li {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}

.header ul li:nth-child(2) {
  line-height: 35px;
}

.header ul li::before {
  content: "";
  margin-left: 3px;
}

.about {
  height: 344px;
}

.video {
  width: 430px;
  height: 245px;
  background-color: #445161;
  float: right;
}

.about h2 {
  margin-top: -8px;
  text-align: left;
}

.about p {
  width: 654px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 23px;
  margin-bottom: -12px;
}

.pluses {
  height: 418px;
  background-color: #f5f5f5;
}

.pluses h2 {
  margin-top: -7px;
  margin-left: -2px;
}

.pluses table {
  padding-top: 28px;
  border-spacing: 0;
}

.pluses tr {
  vertical-align: top;
}
.pluses td {
  height: 98px;
}

.pluses tr:nth-child(2) {
  height: 99px;
}

.pluses .shape_3 {
  width: 32px;
  height: 32px;
  background-color: #445161;
  float: left;
  text-align: center;
  padding-top: 6px;
}

.pluses p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 41px;
  margin-top: -6px;
}

.scrinshots {
  height: 487px;
  background-color: #fff;
}

.scrinshots h2 {
  margin-top: -6px;
}

.scrinshots table {
  padding-top: 28px;
  border-spacing: 0;
}

.scrinshots tr {
  vertical-align: top;
}
.scrinshots td {
  height: 180px;
}

.scrinshots .image {
  width: 200px;
  height: 150px;
  background-color: #445161;
  float: left;
}

.scrinshots_text {
  margin-left: 215px;
  margin-top: -6px;
  width: 375px;
}

.scrinshots h3 {
  color: #445161;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.scrinshots p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 360px;
  margin-top: 7px;
}

.reviews {
  height: 424px;
  background-color: #f5f5f5;
}

.reviews h2 {
  margin-top: -6px;
}

.reviews table {
  padding-top: 27px;
  border-spacing: 0;
}

.reviews tr {
  vertical-align: top;
}

.reviews td {
  height: 145px;
}

.reviews tr td:first-child {
  width: 606px;
}

.reviews .userpic {
  width: 75px;
  height: 75px;
  background-color: #445161;
  float: left;
  border-radius: 37.5px;
}

.reviews blockquote {
  width: 483px;
  height: 121px;
  background: url(img/bg_review.png) no-repeat;
  padding: 12px 20px 0 27px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 18px;
  margin-left: 91px;
}

.reviews cite {
  display: block;
  font-style: normal;
  color: #989898;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 7px;
}

.buy {
  height: 655px;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.buy h2 {
  margin-top: -7px;
}

.buy ul {
  position: absolute;
  bottom: 49px;
  font-size: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.buy ul > li {
  display: inline-block;
  width: 345px;
  padding: 0 22.5px;
}

.buy .tarif {
  width: 300px;
  background-color: #445162;
  border-radius: 5px;
  padding-bottom: 20px;
}

.buy .tarif h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 52px;
}

.buy .price {
  width: 298px;
  background-color: #fff;
  margin: 0 auto;
  color: #445162;
  font-size: 40px;
  font-weight: 400;
  line-height: 69px;
}

.tarif ol {
  margin: 14px 20px -4px;
  text-align: left;
}

.tarif ol li {
  list-style-position: inside;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.buy ul li:nth-child(2) ol {
  margin-bottom: -2px;
}

.buy ul li:nth-child(3) ol {
  margin-bottom: -3px;
}

.tarif a {
  display: block;
  width: 260px;
  line-height: 40px;
  background-color: #fff;
  color: #445161;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 19px auto 0;
}

.contacts {
  height: 509px;
  background-color: #445162;
}

.contacts h2 {
  color: #fff;
  margin-top: -4px;
  margin-bottom: 24px;
}

.contacts form {
  text-align: center;
  margin-left: 199px;
  margin-right: 45px;
  float: left;
}

.contacts form input,
textarea {
  width: 500px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.contacts form input::placeholder,
.contacts form textarea::placeholder {
  color: #445162;
}

.contacts form .email {
  margin-top: 21px;
}

.contacts form textarea {
  height: 170px;
  margin-top: 22px;
  resize: none;
  font-family: "Arial";
}

.contacts form .send {
  color: #445162;
  font-weight: 700;
  width: 140px;
  padding: 0;
  margin-top: 21px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Arial";
}

.social a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 1px;
}

.social .skype img {
  padding-right: 5px;
  vertical-align: -6px;
}

.social .icq img {
  padding-right: 4px;
  vertical-align: -6px;
}

.social .mail img {
  padding-right: 4px;
  vertical-align: -6px;
}

.social .phone img {
  padding-right: 3px;
  vertical-align: -5px;
}

.skype {
  height: 44px;
}

.icq {
  height: 43px;
}

.mail {
  height: 45px;
}

.phone {
  height: 55px;
}

.footer {
  height: 26px;
  background-color: #f5f5f5;
}

.footer p {
  color: #445162;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  margin-top: 3px;
}
